<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Redis_Distributed_Caching</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Redis_Distributed_Caching.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Redis_Distributed_Caching</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Redis_Distributed_Caching - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>


        //    var message = $('#messageInput').val(); // Kullanıcının girdiği mesajı alıyoruz
        //    $.ajax({
        //        url: '/Home/SendMessage',
        //        type: 'POST',
        //        data: { message: message },
        //        success: function (data) {
        //            console.log('Mesaj gönderildi.');
        //        },
        //        error: function (error) {
        //            console.log('Hata oluştu: ' + error);
        //        }
        //    });
        //});
        $(function () {
            $('#il-select').change(function () {
                var ilid = $(this).val();
                console.log(ilid + 'il select sec calısıyor.');
                /*        var ilName = $(this).text(); */// Seçilen ilin id'sini al
                if (ilid) {
                    $.ajax({
                        url: '/Home/GetIlceler',
                        type: 'Get',
                        data: { ilid: ilid },
                        success: function (data) {
                            $('#ilce-select').html(data);
                            console.log('Mesaj gönderildi.' + data);
                        },
                        error: function (error) {
                            console.log('Hata oluştu: ' + error);
                        }
                    });
                } else {
                    // Eğer herhangi bir il seçimi yapılmadıysa ilçe ve semt seçeneklerini sıfırla
                    $('#ilce-select').empty().append($('<option>').text('İlçe Seçiniz').attr('disabled', true).attr('selected', true)).attr('disabled', true);
                    $('#semt-select').empty().append($('<option>').text('Semt/Mahalle Seçiniz').attr('disabled', true).attr('selected', true)).attr('disabled', true);
                }
            });
        });

        $(function () {
            $('#ilce-select').change(function () {
                var ilceid = $('#ilce-select select').val();

                //var ilceid = $(this).val();
                console.log(ilceid + 'ilce select sec calısıyor.');
                /*        var ilName = $(this).text(); */// Seçilen ilin id'sini al
                $.ajax({
                    url: '/Home/GetSemtler',
                    type: 'Get',
                    data: { ilceid: ilceid },
                    success: function (data) {
                        $('#semt-select').html(data);
                        console.log('Mesaj gönderildi.' + data);
                    },
                    error: function (error) {
                        console.log('Hata oluştu: ' + error);
                    }
                });
                
            }); 
        });
        $('#addAdres').click(function () {
            var ilceid = $('#ilce-select select').val();
            var ilid = $('#il-select').val();
            var semtId = $('#semt-select select').val();
            $.ajax({
                url: '/Home/SaveAddress',
                type: 'POST',
                data: { sehirId: ilid, IlceId: ilceid, SemtMahId: semtId },
                success: function (data) {
                    if(data == "true")
                    {
                        alert("Adres başarılı bir şekilde eklendi.");
                    }
                    console.log('Mesaj gönderildi.');
                },
                error: function (error) {
                    console.log('Hata oluştu: ' + error);
                }
            });
        });
    </script>
</body>
</html>
